@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');




:root{
   --font1: Verdana, Geneva, Tahoma, sans-serif;
   --font2: 'Roboto', cursive;
   --font3:'underdog';
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font2);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top:50px ;
    font-variant:small-caps;
    font-family: var(--font1);
    font-size: 10vw;
    /* text-transform: uppercase;
    pode ser colocado para jogar tudo em letra maiuscula,fica tudo em letra maiuscula podemos usar tambem f ont-variant: small-caps;*/
}
header >p{
    padding-bottom: 50px;
}
header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
 header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section > p{
    padding-bottom:2em ;
}
section.normal{
    background-color: white;
    color: black;
}
section.image{
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}
section.image >p{
    display:inline-block ;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.158);
    text-shadow: 1px 1px 0px black;
}
section#img01{
background-image: url(../desafio/boat200.jpg);
background-position: right center ;
}
section#img02{
background-image :url(../desafio/image500.png);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
}